



<h1 style="text-align:center"> Add a new Product </h1>

<div class="background:lime;color:white">
<form method="POST">

    <input type="number" placeholder ="Enter Product Id" name="newP.pId" class="form-control"/>
    <input type="text" placeholder="Enter Product Name" name="newP.pName" class="form-control"/>

    <select name="newP.pCategory" class="form-control">
        <option>Cold-Drink</option>
        <option>Electronics</option>
        <option>Fast-Food</option>
    </select>

    <input type="number" placeholder="Enter the price of Product" name="newP.pPrice" class="form-control" />
    <input type="text" placeholder="Is Product Available" name="newP.pIsInStock" class="form-control" />

    <button class="btn btn-success"> Add Product</button>
</form>
</div>