


<form method="POST">
    <input type="number" placeholder="Enter product Id" name="productId" class="form-control"/>
    <button class="btn btn-warning"> Delete Product </button>
</form>

<h1>  @ViewBag.deleteMessage </h1>